#selectedPages, #notSelectedPages {
	min-width: 150px; 
	min-height: 150px;
}

#buttonsContainer {
	width: 90px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 40px;
    min-height: 150px;
    float: left;
}

#pages {
	float: left;
}

.selectDescription {
	min-width: 150px;
	float: left;
}

.selectSeparator {
	min-width: 115px;
	float: left;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.list-arrows {
	padding-top: 100px;
}